.dk-chat-chart-tooltip {
    width: fit-content;
    width: -moz-max-content;
    min-width: 100;
  }
  
  .dk-chat-dk-pie-chart-blur::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 10%;
    bottom: 0px;
    background: linear-gradient(
      180deg,
      rgba(139, 167, 32, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
  }
  