/* MARGIN - r */
.dk-chat-m-r {
    margin: 8px;
  }
  .dk-chat-m-h-r {
    margin-left: 8px;
    margin-right: 8px;
  }
  .dk-chat-m-v-r {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .dk-chat-ml-r {
    margin-left: 8px;
  }
  .dk-chat-mr-r {
    margin-right: 8px;
  }
  .dk-chat-mt-r {
    margin-top: 8px;
  }
  .dk-chat-mb-r {
    margin-bottom: 8px;
  }
  
  /* MARGIN - xs */
  .dk-chat-m-xs {
    margin: 4px;
  }
  .dk-chat-m-h-xs {
    margin-left: 4px;
    margin-right: 4px;
  }
  .dk-chat-m-v-xs {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .dk-chat-ml-xs {
    margin-left: 4px;
  }
  .dk-chat-mr-xs {
    margin-right: 4px;
  }
  .dk-chat-mt-xs {
    margin-top: 4px;
  }
  .dk-chat-mb-xs {
    margin-bottom: 4px;
  }
  
  /* MARGIN - s */
  .dk-chat-m-s {
    margin: 6px;
  }
  .dk-chat-m-h-s {
    margin-left: 6px;
    margin-right: 6px;
  }
  .dk-chat-m-v-s {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .dk-chat-ml-s {
    margin-left: 6px;
  }
  .dk-chat-mr-s {
    margin-right: 6px;
  }
  .dk-chat-mt-s {
    margin-top: 6px;
  }
  .dk-chat-mb-s {
    margin-bottom: 6px;
  }
  
  /* MARGIN - m */
  .dk-chat-m-m {
    margin: 12px;
  }
  .dk-chat-m-h-m {
    margin-left: 12px;
    margin-right: 12px;
  }
  .dk-chat-m-v-m {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .dk-chat-ml-m {
    margin-left: 12px;
  }
  .dk-chat-mr-m {
    margin-right: 12px;
  }
  .dk-chat-mt-m {
    margin-top: 12px;
  }
  .dk-chat-mb-m {
    margin-bottom: 12px;
  }
  
  /* MARGIN - l */
  .dk-chat-m-l {
    margin: 18px;
  }
  .dk-chat-m-h-l {
    margin-left: 18px;
    margin-right: 18px;
  }
  .dk-chat-m-v-l {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .dk-chat-ml-l {
    margin-left: 18px;
  }
  .dk-chat-mr-l {
    margin-right: 18px;
  }
  .dk-chat-mt-l {
    margin-top: 18px;
  }
  .dk-chat-mb-l {
    margin-bottom: 18px;
  }
  
  /* MARGIN - xl */
  .dk-chat-m-xl {
    margin: 24px;
  }
  .dk-chat-m-h-xl {
    margin-left: 24px;
    margin-right: 24px;
  }
  .dk-chat-m-v-xl {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .dk-chat-ml-xl {
    margin-left: 24px;
  }
  .dk-chat-mr-xl {
    margin-right: 24px;
  }
  .dk-chat-mt-xl {
    margin-top: 24px;
  }
  .dk-chat-mb-xl {
    margin-bottom: 24px;
  }
  
  /* MARGIN - xxl */
  .dk-chat-m-xxl {
    margin: 32px;
  }
  .dk-chat-m-h-xxl {
    margin-left: 32px;
    margin-right: 32px;
  }
  .dk-chat-m-v-xxl {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .dk-chat-ml-xxl {
    margin-left: 32px;
  }
  .dk-chat-mr-xxl {
    margin-right: 32px;
  }
  .dk-chat-mt-xxl {
    margin-top: 32px;
  }
  .dk-chat-mb-xxl {
    margin-bottom: 32px;
  }
  
  .dk-chat-mt-0 {
    margin-top: 0;
  }