
#deskera-chat-root .fs-r {
    font-size: 13px !important;
  }
  #deskera-chat-root .fs-xs {
    font-size: 8px !important;
  }
  #deskera-chat-root .fs-s {
    font-size: 10px !important;
  }
  #deskera-chat-root .fs-m {
    font-size: 14px !important;
  }
  #deskera-chat-root .fs-l {
    font-size: 16px !important;
  }
  #deskera-chat-root .fs-xl {
    font-size: 20px !important;
  }
  #deskera-chat-root .fs-xl-2 {
    font-size: 22px !important;
  }
  #deskera-chat-root .fs-xxl {
    font-size: 24px !important;
  }
  #deskera-chat-root .fs-xxxl {
    font-size: 30px !important;
  }