
.chat-bubble-sender,.chat-bubble-receiver{
  max-width: 80%;
  background-attachment: fixed;
  position: relative;
}
.chat-bubble-sender {
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.chat-bubble-receiver {
border-bottom-right-radius: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.chat-float-icon{
  transition: transform .5s ease;
}
.bubble-arrow {
  display: none;
}
.chat-bubble-sender:hover, .chat-bubble-receiver:hover > .bubble-arrow{
    display: block;
}
.dk-chat-input[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}

.dk-chat-input[placeholder]:empty:focus:before {
  content: "";
}
.dk-chat-input:focus-visible {
  outline: none !important;
}
.document-container:hover > .download-button{
    display: flex !important;
}
.dk-chat-input[contenteditable="true"] {
  display: flex;
  align-items: center;
  padding: 15px;
}
.notification{
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content:center;
  color: white;
  width: 20px;
  height: 20px;
  background: #f00;
  position: absolute;
  bottom: 50px;
  right: 20px;
  border-radius: 10px;
  z-index: 2;
}


.user-select-none{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pre-wrap{
  white-space: pre-wrap;
}
.width-0{
  width: 0;
}
.height-0{
  height: 0;
}
.bubble-shadow{
  box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}